.navbar-wrapper{
	margin-top: 20px;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
}

.header{
	background: linear-gradient(45deg, #7abcff 0%, #4096ee 100%) repeat scroll 0 0 transparent;
	padding: 80px 0;
	position: relative;
}

.header:after{
	background: url("../img/squairy.png") repeat scroll center center transparent;
	bottom: 0;
	display: block;
	left: 0;
	opacity: 0.2;
	position: absolute;
	right: 0;
	top: 0;
	content: "";
}

.header ul{
	list-style-type: none;
}

.header ul li{
	width: 200px;
	height: 100px;
	background: #FFF;
	border-radius: 5px;
	padding: 10px;
}